[submodule "external/fedora-lorax-templates"]
	path = external/fedora-lorax-templates
	url = https://github.com/kean0048/fedora-lorax-templates-for-legion.git
	branch = f40
[submodule "external/lorax"]
	path = external/lorax
	url = https://github.com/kean0048/lorax-for-legion.git
	branch = f40-branch
